<ion-header>
    <ion-toolbar>
        <ion-title text-center>LOGIN</ion-title>
    </ion-toolbar>
    <figure class="size-logo">
        <img src="./assets/logo_Better.jpg" width="200" height="200" />
    </figure>

</ion-header>

<ion-content>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">

        <ion-item fill="solid">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input>
        </ion-item>

        <div>
            <ng-container *ngFor="let validation of validation_message.email">
                <div *ngIf="loginForm.get('email')?.hasError(validation.type) && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                    {{validation.message}}
                </div>
            </ng-container>
        </div>

        <ion-item fill="solid">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <div>
            <ng-container *ngFor="let validation of validation_message.password">
                <div *ngIf="loginForm.get('password')?.hasError(validation.type) && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                    {{validation.message}}
                </div>
            </ng-container>
        </div>

        <ion-button shape="around" color="success" [disabled]="!loginForm.valid" type="submit">
            Login
        </ion-button>
        <ion-button shape="round" fill="solid" expand="full" type="button" (click)="irRegistro()">
            Registro
        </ion-button>
